@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --sidebar: #ffff;
  --foreground: #333;

  --searchbar:#ffff;

  --bgbtn:#b2b2b2;

  --categorg:#e0e0e0;

  --cards:#ffff;

  --sidebaract:#f0f0f0;

  --button:orange;
  --form-items:orange;

  --background:#eee;

  --text:#424242;

  --muted: #888;
  --muted-foreground: #555;

  --popover: #ddd;
  --popover-foreground: #555;

  --card: #f0f0f0;
  --card-foreground: #333;


  --border: #ddd;
  --input: #ddd;

  --primary: #007bff;
  --primary-foreground: #f0f0f0;

  --secondary: #888;
  --secondary-foreground: #f0f0f0;

  --accent: #888;
  --accent-foreground: #f0f0f0;

  --destructive: #444;
  --destructive-foreground: #f0f0f0;

  --ring: #888;

  --radius: 0.5rem;
}

.user-button-container .cl-avatar {
  border-radius: 0.5rem;
  background-color: #45b75c;
  /* Add any other styling you want for the container */
}

.dark {
  --bgbtn:#545454;

  --sidebar: #222;
  --foreground: #f0f0f0;

  --background:#2c2c2c;

  --sidebaract:#333333;

  --cards:#333333;

  --searchbar:#333333;

  --categorg:#333333;

  --button:#636262;

  --text:#ffff;

  --form-items:#403f3f;

  --muted: #333;
  --muted-foreground: #ccc;

  --popover: #222;
  --popover-foreground: #f0f0f0;

  --card: #222;
  --card-foreground: #f0f0f0;

  --border: #333;
  --input: #333;

  --primary: #007bff;
  --primary-foreground: #222;

  --secondary: #333;
  --secondary-foreground: #f0f0f0;

  --accent: #333;
  --accent-foreground: #f0f0f0;

  --destructive: #444;
  --destructive-foreground: #f0f0f0;

  --ring: #333;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
